@import "tailwindcss";

:root {
  --sans: 'Open Sans Condensed', system-ui, 'Segoe UI', Roboto, sans-serif;

  font-family: var(--sans);
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}